<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>答案列表</title>
  <link rel="stylesheet" href="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/lib.css">
  <link rel="stylesheet" href="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/all.css">
  <script src="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/lib.js"></script>
  <script src="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/all.js"></script>
</head>
<body>
  <div class="page-header">
    <div class="user-info">
      <!--<a href="/" class="username">Vanitas</a>-->
      <!--<a href="/logout" class="logout">退出</a>-->
    </div>
    <h1><a href="/">营销管理平台</a></h1>
  </div>

  <ul class="page-sidebar">
    <li>
      <a href="/test/admin/app"><i class="fa fa-tachometer"></i> 应用</a>
      <ul>
        <li><a href="/test/admin/app/add"><i class="fa fa-plus"></i> 添加</a></li>
      </ul>
    </li>
    <li>
      <a href="/test/admin/answer"><i class="fa fa-archive"></i> 答案</a>
    </li>
  </ul>

  <div class="page-main">
    <h2>应用列表</h2>
    <div>
      <select id="_apps" onchange="window.location=this.value;">
        {% for app in apps %}
        <option value="answer?app_id={{ app.id }}" {% if app.id==app_id %}selected = "selected"{% end %}>{{ app.name }}</option>
        {% end %}
        
      </select>
      <a href="answer/add?app_id={{ app_id }}" class="btn btn-info btn-sm">添加答案</a>
    </div>
    <table class="table table-striped anwsers">
      <thead>
        <tr>
          <th>ID</th>
          <th>LOGO</th>
          <th>标题</th>
          <!--<th>子标题</th>-->
          <th>内容</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        
        {% for row in rows %}
        <tr data-id="{{ row.id }}">
          <td class="text-center">{{ row.id }}</td>
          <td><img src="{{ row.logo_url }}" alt="LOGO"></td>
          <td>{{ row.title }}</td>
          <td>{{ row.content }}</td>
          <td class="operations">
            <a href="answer/edit?id={{ row.id }}">编辑</a>
            <a href="answer/delete?id={{ row.id }}">删除</a>
          </td>
        </tr>
        {% end %}

      </tbody>
    </table>

    <!--<nav class="text-center">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">上一页</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li class="disabled"><a href="#">...</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="active"><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li class="disabled"><a href="#">...</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">下一页</span>
          </a>
        </li>
      </ul>
    </nav>-->
  </div>
</body>
</html>
