<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>答案列表</title>
  <link rel="stylesheet" href="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/lib.css">
  <link rel="stylesheet" href="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/all.css">
  <script src="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/lib.js"></script>
  <script src="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/all.js"></script>
</head>
<body>
  <div class="page-header">
    <div class="user-info">
      <a href="/" class="username">Vanitas</a>
      <a href="/logout" class="logout">退出</a>
    </div>
    <h1><a href="/">营销管理平台</a></h1>
  </div>

  <ul class="page-sidebar">
    <li>
      <a href="index.html"><i class="fa fa-tachometer"></i> 应用</a>
      <ul>
        <li><a href="app_add.html"><i class="fa fa-plus"></i> 添加</a></li>
      </ul>
    </li>
    <li>
      <a href="anwsers.html"><i class="fa fa-archive"></i> 答案</a>
    </li>
  </ul>

  <div class="page-main">
    <h2>应用列表</h2>
    <div>
      <select id="apps">
        <option value="1">应用1</option>
        <option value="2">应用2</option>
        <option value="3">应用3</option>
        <option value="4">应用4</option>
        <option value="5">应用5</option>
        <option value="6">应用6</option>
        <option value="7">应用7</option>
      </select>
      <a href="anwser_add.html" class="btn btn-info btn-sm">添加答案</a>
    </div>
    <table class="table table-striped anwsers">
      <thead>
        <tr>
          <th>ID</th>
          <th>LOGO</th>
          <th>标题</th>
          <th>子标题</th>
          <th>内容</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr data-id="1">
          <td class="text-center">1</td>
          <td><img src="assets/result.jpg" alt="LOGO"></td>
          <td>你和哪类电影的主角是天作之合？</td>
          <td></td>
          <td>茫茫人海，一眼便认出你。你的气质是如此地独特，快来看看你和哪类电影的主角是天作之合吧！</td>
          <td class="operations">
            <a href="anwsers/1">编辑</a>
            <a href="javascript:void(0)" class="delete">删除</a>
          </td>
        </tr>
        <tr data-id="1">
          <td class="text-center">1</td>
          <td><img src="assets/result.jpg" alt="LOGO"></td>
          <td>你和哪类电影的主角是天作之合？</td>
          <td></td>
          <td>茫茫人海，一眼便认出你。你的气质是如此地独特，快来看看你和哪类电影的主角是天作之合吧！</td>
          <td class="operations">
            <a href="anwsers/1">编辑</a>
            <a href="javascript:void(0)" class="delete">删除</a>
          </td>
        </tr>
        <tr data-id="1">
          <td class="text-center">1</td>
          <td><img src="assets/result.jpg" alt="LOGO"></td>
          <td>你和哪类电影的主角是天作之合？</td>
          <td></td>
          <td>茫茫人海，一眼便认出你。你的气质是如此地独特，快来看看你和哪类电影的主角是天作之合吧！</td>
          <td class="operations">
            <a href="anwsers/1">编辑</a>
            <a href="javascript:void(0)" class="delete">删除</a>
          </td>
        </tr>
        <tr data-id="1">
          <td class="text-center">1</td>
          <td><img src="assets/result.jpg" alt="LOGO"></td>
          <td>你和哪类电影的主角是天作之合？</td>
          <td></td>
          <td>茫茫人海，一眼便认出你。你的气质是如此地独特，快来看看你和哪类电影的主角是天作之合吧！</td>
          <td class="operations">
            <a href="anwsers/1">编辑</a>
            <a href="javascript:void(0)" class="delete">删除</a>
          </td>
        </tr>
        <tr data-id="1">
          <td class="text-center">1</td>
          <td><img src="assets/result.jpg" alt="LOGO"></td>
          <td>你和哪类电影的主角是天作之合？</td>
          <td></td>
          <td>茫茫人海，一眼便认出你。你的气质是如此地独特，快来看看你和哪类电影的主角是天作之合吧！</td>
          <td class="operations">
            <a href="anwsers/1">编辑</a>
            <a href="javascript:void(0)" class="delete">删除</a>
          </td>
        </tr>

      </tbody>
    </table>

    <nav class="text-center">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">上一页</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li class="disabled"><a href="#">...</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="active"><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li class="disabled"><a href="#">...</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">下一页</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>
</html>
