<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>添加应用</title>
  <link rel="stylesheet" href="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/lib.css">
  <link rel="stylesheet" href="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/all.css">
  <script src="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/lib.js"></script>
  <script src="http://7xon5f.com2.z0.glb.qiniucdn.com/static/dist/all.js"></script>
</head>
<body>
  <div class="page-header">
    <div class="user-info">
      <a href="/" class="username">Vanitas</a>
      <a href="/logout" class="logout">退出</a>
    </div>
    <h1><a href="/">投票平台</a></h1>
  </div>

  <ul class="page-sidebar">
    <li>
      <a href="index.html"><i class="fa fa-tachometer"></i> 应用</a>
      <ul>
        <li><a href="app_add.html"><i class="fa fa-plus"></i> 添加</a></li>
      </ul>
    </li>
    <li>
      <a href="anwsers.html"><i class="fa fa-archive"></i> 答案</a>
    </li>
  </ul>

  <div class="page-main">
    <h2>添加应用</h2>

    <form action="">
      <div class="form-group row required">
        <label class="form-control-label col-md-3 col-lg-2 col-xl-1" for="name">名称</label>
        <div class="col-md-8 col-lg-6">
          <input type="text" name="name" class="form-control" id="name" required>
        </div>
      </div>
      <div class="form-group row required">
        <label class="form-control-label col-md-3 col-lg-2 col-xl-1" for="qrcode">二维码</label>
        <div class="col-md-8 col-lg-6">
          <div class="image-container">
              <!-- 若是添加新应用，给input加上required属性；更新时不加 -->
              <input type="file" name="qrcode" id="qrcode" accept="image/*" required>
              <span class="change">点击修改</span>

              <!-- 若已有图片（更新时） -->
              <img src="http://7xon5f.com2.z0.glb.qiniucdn.com/static/assets/qrcode.png" alt="二维码">

              <!-- 若无图片 -->
              <!-- <span class="add">点击添加</span> -->
          </div>
        </div>
      </div>
      <div class="form-group row required">
        <label class="form-control-label col-md-3 col-lg-2 col-xl-1" for="background-image">背景图</label>
        <div class="col-md-8 col-lg-6">
          <div class="image-container">
              <!-- 若是添加新应用，给input加上required属性；更新时不加 -->
              <input type="file" name="background_image" id="background-image" accept="image/*" required>
              <span class="change">点击修改</span>

              <!-- 若已有图片（更新时） -->
              <!-- <img src="assets/figure.jpg" alt="背景图"> -->

              <!-- 若无图片 -->
              <span class="add">点击添加</span>
          </div>
        </div>
      </div>
      <div class="form-group row required">
        <label class="form-control-label col-md-3 col-lg-2 col-xl-1" for="question">问题</label>
        <div class="col-md-8 col-lg-6">
          <input type="text" name="question" class="form-control" id="question" required>
        </div>
      </div>
      <div class="form-group row required">
        <label class="form-control-label col-md-3 col-lg-2 col-xl-1" for="introduction">简介</label>
        <div class="col-md-8 col-lg-6">
          <textarea name="introduction" class="form-control" id="introduction" required></textarea>
        </div>
      </div>
      <div class="form-group row required">
        <label class="form-control-label col-md-3 col-lg-2 col-xl-1" for="input-prompt">输入提示</label>
        <div class="col-md-8 col-lg-6">
          <input type="text" name="input_prompt" class="form-control" id="input-prompt" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="form-control-label col-md-3 col-lg-2 col-xl-1" for="anwser-prefix">答案前缀</label>
        <div class="col-md-8 col-lg-6">
          <input type="text" name="anwser_prefix" class="form-control" id="anwser-prefix">
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-lg-2 col-xl-1">是否开放</label>
        <div class="col-md-8 col-lg-6">
          <label class="radio-inline">
            <input type="radio" name="is_active" value="0" required> 关闭
          </label>
          <label class="radio-inline">
            <input type="radio" name="is_active" value="1" required> 开放
          </label>
        </div>
      </div>

      <div class="row actions">
        <div class="col-md-offset-3 col-lg-2 col-xl-offset-1">
          <div class="alert"></div>
          <button type="submit" class="btn btn-primary">添加<i class="fa fa-spin fa-spinner"></i></button>
          <button type="reset" class="btn btn-warning">重置</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
